#title {
    text-align: center;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 40%;
    transition: top 1.5s ease 4s, opacity 2s ease 1s, margin-top 1.5s ease 4s;
}

#title>h1 {
    line-height: 3.2rem;
}

#title>h2, #title>.h2-green {
    font-size: 1.1rem;
}

.h2-green {
    color: #2a7561;
}

main {
    opacity: 0%;
    transition: opacity 2s ease 5s;
    padding: 10px;
    display: grid;
    gap: 2rem;
    margin-top: 250px;
}

.grid-container {
    display: grid;
    gap: 2rem;
}