#title {
    text-align: center;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 40%;
    transition: top 1s ease 2.5s, opacity 1s ease .5s, margin-top 1s ease 2.5s;
}

#title h1, .h1-green{
    font-size: 20vw;
    line-height: 16vw;
}

#contact h1 {
    line-height: 3.4rem;
}

#title h2, #title .h2-green {
    font-size: 6vw;
}

@media only screen and (min-width: 1000px) {
    #title h1, .h1-green{
        font-size: 200px;
        line-height: 160px;
    }

    #title h2, #title .h2-green {
        font-size: 60px;
    }

    #contact h1 {
        font-size: 200px !important;
        line-height: 160px !important;
    }
}

main {
    opacity: 0%;
    transition: opacity 2s ease 2.7s;
    padding: 10px;
    display: grid;
    gap: 5rem;
    margin-top: 50vh;
    justify-content: center;
    max-width: 1300px;
    justify-self: center;
}

.project {
    display: grid;
    gap: .5rem;
    justify-content: center;
    box-shadow: 0 0 1rem grey;
    padding: 10px;
    border-radius: 1rem;
    max-width: 300px;
}

.project img {
    border-radius: .5rem;
}

.grid-container {
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 300px);
}


#contact {
    text-align: center;
    display: grid;
    justify-content: center;
}

#contact h1 {
    font-size: 20vw;
    line-height: 16vw;
    max-width: 1000px;
}

#contact h3 {
    justify-self: center;
}