@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', 'Arial', cursive;
    color: white;
    font-size: 3rem;
    letter-spacing: 0px;
    font-kerning: normal;
}

h1, .h1-green {
    font-size: 4rem;
}

.h1-green {
    color: #2a7561;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

body {
    background-color: #93b9cc;
    display: grid;
    gap: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    height: 50px;
    width: 100%;
    padding: 10px;
    background-color: #83a4b4;
    line-height: 0.8;
    z-index: 10;
}

#nav-menu-button {
    width: 29px;
}

menu {
    display: grid;
    position: fixed;
    padding-right: 10px;
    background-color: #83a4b4;
    right: 0;
    top: -19%;
    width: 100%;
    text-align: right;
    transition: top .5s;
    z-index: 9;
}